#contato {
    background: linear-gradient( var(--c11) 600px, var(--c1) 0);
}

.titulo-bg {
    padding-bottom: 10px;
}

.contato {
    display: grid;
    grid-template-columns: 5fr 7fr;
}

.contato-redes {
    display: flex;
    gap: 20px;
    margin-left: 28px;
}

.contato-redes img {
    object-fit: contain;
}

.contato-dados, .contato-formulario {
    padding: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contato-dados {
    background: var(--b);
    border-radius: 5px 0 0 5px;
}

.contato-formulario {
    background: var(--w);
    border-radius: 0 5px 5px 0;
}

.contato-dados h2 {
    margin-bottom: 60px;
}

.contato-endereco {
    margin-bottom: 32px;
    padding-left: 28px;
    background:  url(../../img/icones/local.svg) no-repeat 0px 4px;
}

.contato-endereco p {
    margin-bottom: 4px;
}

.contato-emails {
    margin-bottom: 32px;
    padding-left: 28px;
    background:  url(../../img/icones/email.svg) no-repeat 0px 4px;
}

.contato-emails a { 
    display: block;
    max-width: max-content;
    margin-bottom: 12px;
    letter-spacing: 0.35px;
}

.contato-emails a:hover {
    transition: 0.3s;
    color: var(--w);
}

.contato-emails a:nth-child(2) {
    margin-bottom: 32px;
}

.contato-emails a:nth-child(3) {
    margin-bottom: 44px;
    position: relative;
}

.contato-emails a:nth-child(3)::before {
    content: '';
    position: absolute;
    background: url(../../img/icones/telefone.svg) no-repeat;
    width: 24px;
    height: 24px;
    left: -28px;
    top: 2px;
}

@media (max-width:800px) {

    #contato {
        background: linear-gradient( var(--c11) 500px, var(--c1) 0);
    }
    .contato {
        grid-template-columns: 1fr;
    }

    .contato-dados, .contato-formulario {
        padding: 20px;
    }

    .contato-dados {
        border-radius: 5px 5px 00;
    }

    .contato-formulario {
        border-radius: 0 0 5px 5px;
    }

    .contato-dados h2 {
        margin-bottom: 32px;
    }

    .contato-emails a:nth-child(3) {
        margin-bottom: 32px;
    }
}