.depoimento {
    background-color: var(--p1);
    margin-top: 120px;
    grid-template-columns: 1fr 1fr;
    display: grid;
    max-height: 800px;
    align-items: end;
}

.depoimento img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    border-radius: 0px;
}

.depoimento-conteudo {
    padding: 40px 40px 80px 80px;
    align-self: end;

}

.depoimento-conteudo p {
    font-family: 'merri', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--p5);
    letter-spacing: -0.02em;
    max-width: 32ch;
    position: relative;
}

.depoimento p::before, .depoimento p::after {
    content: '“';
    color: var(--p2);
    position: absolute;
    font-size: 96px;
}

.depoimento p::before {
    content: '“';
    left: -48px;
    bottom: 120px;
}

.depoimento p::after {
    content: '”';
}

/*Reajustar responsivo com aspas*/