.depoimento {
    background-color: var(--p1);
    margin-top: 120px;
    grid-template-columns: 1fr 1fr;
    display: grid;
    max-height: 800px;
    align-items: end;
    overflow: hidden;
}

.depoimento img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0px;
}

.depoimento-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.depoimento-conteudo {
    padding: 40px 40px 80px 80px;
    align-self: end;
}

.depoimento-conteudo p {
    font-family: 'merri', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: -0.02em;
    max-width: 32ch;
    display: flex;
    margin-bottom: 32px;
    flex-direction: column;
    position: relative;
}

.depoimento-conteudo span {
    display: flex;
    justify-content: start;
}

.depoimento p::before {
    font-size: 96px;
    font-family: 'serif';
    color: var(--p2);
    position: absolute;
}

.depoimento p::before {
    content: '“';
    left: -60px;
    top: -60px;
}

@media (max-width: 1000px) {
    .depoimento-conteudo p {
        font-size: 1.5rem;
        line-height: 1.3;
    }

    .depoimento-conteudo {
        padding: 40px 40px 40px 80px;
    }
}

@media (max-width:800px) {
    .depoimento {
        display: flex;
        flex-direction: column;
    }

    .depoimento-conteudo p {
        text-align: center;
    }

    .depoimento-img {
        object-fit: cover;
        width: 100%;
        height: 300px;
    }

    .depoimento-conteudo {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        padding: 40px 40px 40px 40px;
        margin: 0 auto;
    }

    .depoimento-conteudo::before {

    }
}

@media (max-width:600px) {
    .depoimento-conteudo p {
        font-size: 1.3rem;
    }

    .depoimento-conteudo span {
        font-size: 0.8rem;
    }

    .depoimento p::before {
        bottom: 60px;
    }

}