.tecnologia-bg {
    background-color: var(--c11);
}

.tecnologia {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tecnologia-grid-2 {
    grid-column: 1;
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 40px;
}