@import './css/global.css';
@import './css/utilidades/cores.css';
@import './css/utilidades/tipografia.css';
@import './css/home/header.css';


/*----Utilidades---*/
@import './css/utilidades/componentes.css';

/*-------Home--------*/
@import './css/home/introducao.css';
@import './css/home/grid-produtos.css';



/*--------Fontes------*/
@font-face {
    font-family: 'poppins';
    src: url(https://github.com/itfoundry/Poppins);
}

@font-face {
    font-family: 'roboto';
    src: local(Roboto-Medium.ttf);
}


