@import './css/global.css';
@import './css/utilidades/cores.css';
@import './css/utilidades/tipografia.css';
@import './css/header.css';
@import './css/footer.css';


/*----Utilidades---*/
@import './css/utilidades/componentes.css';

/*-------Home--------*/
@import './css/home/introducao.css';
@import './css/home/lista-produtos.css';
@import './css/home/tecnologia.css';
@import './css/home/parceiros.css';
@import './css/home/depoimento.css';
@import './css/home/seguros.css';

/*------Global--------*/
@import './css/home/footer.css';

/*--------Fontes------*/
@font-face {
    font-family: 'poppins';
    src: url(https://github.com/itfoundry/Poppins);
}

@font-face {
    font-family: 'roboto';
    src: local(Roboto-Medium.ttf);
}

@font-face {
    font-family: 'merri';
    src: local(Merriweather-BoldItalic.ttf);
}
