.main{
    max-width: 100%;
}

.intro {
    display: grid;
    max-width: 1045px;
    margin: 40px 105px;
    text-justify: auto;

}

.foto-ka {
    max-width: 290px;
    display: block;
    grid-column: 1;
    margin: auto;
}

h1 {
    grid-column: 2;
    font-family: 'Bodoni2';
    color: #1E1E1E;
    text-transform: uppercase;
    font-size: 4.5rem;
    line-height: 86px;
    margin-left: 116px;
}

.adelia {
    font-family: adelia;
}

.localizacao {
    grid-column: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 116px;
    font-size: 1.5rem;
    margin-top: -80px;
    font-family: 'barlow';
    color: #999;
}

@media (max-width: 1200px) {

    h1 {
        grid-column: 2;
        justify-content: center;
        align-self: center;
        margin: 0 auto;
        margin-left: 116px;
        font-size: 3rem;
        line-height: 60px;
        max-width: 100%;
    }

    .localizacao {
        grid-column: 2;
        grid-row: 3;
        margin-top: -60px;
        margin-bottom: 0px;
        margin-left: 116px;
        font-size: 1.5rem;
        font-family: 'barlow';
        color: #999;
    }

    .foto-ka {
        max-width: 250px;
    }
    
}

@media (max-width: 980px) {

    body {
        margin: 0px;
    }
    
    .main {
        display: grid;
        grid-area: auto;
        grid-template-columns: 2;
        max-width: 100%;
    }

    .intro {
        grid-row: 1;
    }

    h1 {
        grid-column: 2;
        font-size: 3.2rem;
        justify-content: center;
        margin: 0 auto;
        margin-left: 40px;
        font-size: 2rem;
        line-height: 40px;
        max-width: 100%;
        align-content: center;
    }

    .foto-ka {
        max-width: 100%;
        max-height: 300px;
        grid-column: 1 / -1;
        grid-row: 1;
        grid-column: 1 / -1;
        align-self: center; 
    }


    .localizacao {
        grid-row: 2 / 3;
        grid-column: 2;
        font-size: 1rem;
        margin-left: 40px;
        margin-top: -60px;
        align-self: top;
    }

}



}


/**@media (max-width: 620px) {
    
    .main {
        display: grid;
        grid-area: auto;
        grid-template-columns: 1;
        max-width: 100%;
    }

    h1 {
        grid-column: 2;
        font-size: 3.2rem;
        justify-content: center;
        margin: 0 auto;
        margin-left: 40px;
        font-size: 2rem;
        line-height: 40px;
        max-width: 100%;
        align-content: center;
    }

    .foto-ka {
        display: none;
    }


    .localizacao {
        grid-row: 3;
        grid-column: 2;
        font-size: 1rem;
        margin-left: 40px;
        margin-top: 440px;
    }


} **/
