.btn {
    text-transform: uppercase;
    color: var(--p5);
    padding: 12px 36px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 60px;
    font-family: 'poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    background: linear-gradient( #FFC700, #E3A400);
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    max-width: max-content;
    cursor: pointer;
    
}

.btn.btn-seta {
    padding: 12px 60px 12px 36px;

}

.btn.btn-cinza {
    color: var(--c5);
    background: var(--c10);
}

.btn.btn-cinza:hover {
    color: var(--c4);
    background: var(--c8);
    transition: 0.3s;
}


.btn:hover {
    background: linear-gradient( #ffb700, #C38100);
    transition: 0.3s;
}

.link {
    display: inline-block;
    color: var(--p1);
    font: 500 1.5rem/1.5 'poppins', sans-serif;
    text-transform: uppercase;
}

.link::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: currentColor;
}

.link:hover {
    color: var(--w);
}

/*Titulos das Paginas internas*/

.titulo-bg {
    background-color: var(--c11);
    padding: 60px 0 60px 0;
}

.titulo p {
    margin-bottom: 4px;
}

@media (max-width: 800px){
    .titulo-bg {
        padding: 40px 0 40px 0;
    }

    .titulo p {
        font-size: 1rem;
        text-transform: lowercase;
    }
}