
header {
    align-items: center;
    margin-bottom: 10px;
    margin-top: 40px;
    justify-content: space-between;
    margin: 0px;
    max-width: 100%;
    margin-left: 40px;
    margin-right: 40px;
}

.logo{
    display: block;
    max-width: 100%;
    max-height: 100px;
    font-weight: 400;
    color: #1E1E1E;
    margin: left;
    padding-left: 40px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-top: -60px;
    padding: 0px;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid transparent;
}
 
.menu ul li {
    list-style: none;
    text-transform: uppercase;
    padding: 10px 20px;
}

.menu li a {
    text-decoration: none;
    color: #999;
    font-size: 1.2rem;
    display: block;
}
nav ul li {
    display: flex;
    font-family: 'Gothic A1';
    border-bottom: 2px solid transparent;
}

nav ul li:hover {
    transition: 0.3s;
    border-color: #E9A55B;
}

a{
    font-family: 'Gothic A1';
}


@media (max-width: 800px) {

    .header {
        display: block;
        margin: 0px;
        font-size: 0.5rem;
    }

    .logo {
        display: block;
        margin: auto;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 0.7rem;
        background-color: transparent;
    }

    .menu ul li {
        flex-wrap: wrap;
    }
}

@media (max-width: 720px) {

    nav#menu-principal {
        display: flex;
        flex-wrap: wrap;
    }

    .menu ul {
        justify-content: center;
    }
    .menu ul li{
        display: flex;
        flex-wrap: wrap;
    }

}
