.produtos-bg:nth-child(odd) {
    background-image: linear-gradient( to right, var(--w) 30%, var(--b) 0% );
    padding-bottom: 2px;
    padding-top: 2px;
}

.produto-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px 60px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0 20px 0 20px;
}

.produto-img {
    display: block;
    position: relative;
}

.produto-img img {
    object-fit: cover;
}

.produto-img span {
    background-color: var(--b);
    display: block;
    position: absolute;
    top: 20px;
    right: 0px;
    padding: 8px 16px 8px 12px;
    border-radius: 5px 0 0 5px;
}

.produto-img:hover span {
    right: -13px;
    transition: .3s;
    top: 12px;
}

.produtos-conteudo {
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: start;
}

.produtos-conteudo h3 {
    grid-column: 1 / -1;
    position: relative;
    padding-top: 16px;
    margin-bottom: 12px;
}

.produtos-conteudo h3::before {
    content: '';
    display: block;
    background-color: var(--p1);
    width: 12px;
    height: 8px;
    top: 0px;
    position: absolute;
}

.produtos-conteudo p {
    grid-column: 1 / -1;
}

.produtos-conteudo ul li {
    align-content: center;
}

.produtos-conteudo ul li img {
    position: absolute;
    padding: 10px 0 10px 0;
}

.produtos-conteudo ul li span{
    display: block;
    position: relative;
    padding: 10px 0 10px 0;
    margin-left: 52px;
}

.btn-seta {
    display: flex;
    align-self: flex-end;
    margin-bottom: 32px;
    position: relative;
}
.btn-seta img{
    width: 16.5px;
    height: 11px;
    position: absolute;
    top: 26px;
    left: 160px;
}

@media (max-width:920px) {
    .produtos-conteudo .btn-seta {
        grid-column: 1 / -1;
    }

    .produtos-conteudo ul li span {
        font-size: 1rem;
    }
}

@media (max-width:800px) {
    .produto-grid {
        grid-template-columns: 1fr;
        gap: 40px 20px;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .produtos-bg:nth-child(odd) {
        background-image: none;
        background-color: var(--c11);
    }

    .produtos-conteudo h3 {
        margin-bottom: 20px;
    }

    .produto-img {
        grid-row: 1;
    }

    .btn-seta img{
        left: 160px;
    }

    .produtos-conteudo ul li span {
        font-size: 1rem;
    }
}

@media (max-width:650px) {
    .btn-seta img{
        left: 130px;
    }
}







