.seguro-conteiner {
    background-color: var(--c11);
}

.seguro-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.seguro-conteudo h1 {
    padding: 60px 0 20px 0;
    display: block;
    grid-column: 1;
    text-align: start;
    margin: 0;
}

.seguro-itens span {
    display: block;
    text-align: end;
}

.seguro-itens .btn-cinza {
    grid-column: 1;
    background-color: var(--c8);
    color: var(--c11);
}

.seguro-itens .btn-cinza:hover {
    color: var(--p3);
}

.seguro-itens {
    background-color: var(--b);
    display: grid;
    grid-template-columns: 1fr auto;
    grid-row: 2;
    border-radius: 5px;
    padding: 32px 32px 0px 60px;
    margin-bottom: 60px;
}

.seguro-itens h2 {
    text-transform: uppercase;
    margin-bottom: 40px;
}

.seguro-itens ul li {
    padding-left: 32px;
    padding-bottom: 16px;
    grid-column: 1 / -1;
    position: relative;
}

.seguro-itens li::before {
    content: '';
    width: 13px;
    height: 9px;
    display: block;
    background-image: url('/img/icones/lista.svg');
    position: absolute;
    top: 8px;
    left: 0;
}

@media (max-width:800px) {

    .titulo {
        padding-bottom: 40px;
    }

    .seguro-conteudo h1 {
        display: none;
    }

    .seguro-conteudo {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: -40px;
    }

    .seguro-conteudo h1 {
        margin-bottom: 40px;
    }

    .seguro-itens {
        padding-bottom: 32px;
    }
}

@media (max-width:600px) {
    .seguro-itens a {
        font-size: 0.7rem;
    }

    .seguro-conteudo h1 {
        margin-bottom: 20px;
    }
}
 
/*---------VANTAGENS--------*/ 

.vantagens-bg {
    background-color: var(--b);
    padding-top: 20px;
}

.vantagens-conteudo h1 {
    padding-top: 20px;
    padding-bottom: 60px;
}

.vantagens-itens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: top;
    margin: 0 auto;
}

.vantagens-itens img {
    margin-bottom: 8px;
}

.vantagens-itens h3 {
    margin-bottom: 8px;
}

@media (max-width:1000px) {
    .vantagens-itens {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:700px) {

    .vantagens-conteudo h1 {
        padding-top: 0px;
        padding-bottom: 40px;
    }
    .vantagens-itens {
        grid-template-columns: 1fr;
    }

    .vantagens-itens p {
        max-width: 70ch;
    }
}

