

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #101010;
}

:root {
    --lineheight: 1.125;
    --margin: 0px auto 0px auto;
}

h1, h2, h3, p, a, blockquote, dd {
    margin: 0px;
}

ul {
    list-style: none;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

.conteiner-1200 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

img[src$=".jpg"] {
    border-radius: 4px;
}  /* sรณ adiciona o border radious nas imagens source, que terminarem em .jpg*/


