@charset "UTF-8";

body {
    background-color: var(--bg-1);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

:root {
    --cor-primaria: #ee2211;
    --cor-primaria-escura: #900;
    --bg-1: #f7f7f7;
    --bg-2: #fff;
    --logo: #000000;
}

header {
    display: flex;
    text-align: center;
    margin-bottom: 40px;
    justify-content: space-between;
    max-width: 900px;
    margin: 0px auto;
}

main {
    max-width: 1000px;
    margin: auto;
}

.logo {
    padding: 15px;
    margin-top: 5px;
    col
}

nav ul {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}

.menu-e-burguer {
    position: relative;
}

.menu li a {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #2e2e2e;
    text-decoration: none;
    padding: 10px 10px;
    position: relative;
    font-size: 1rem;
    text-transform: uppercase;
}

ul li {
    text-decoration: none;
    color: black;
    border-radius: 4px;
}

ul li:hover {
    transition: 0.2s;
    border: 1.5px solid var(--cor-primaria-escura);
}

li {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    list-style: none;
    border: 1.5px solid transparent;
}

a {
    display: block;
}

li a {
    text-decoration: none;
    color: #2e2e2e;
}

.bg-branco {
    display: grid;
    margin: 0px;
    grid-column: 1fr;
    background-color: var(--bg-2);
    grid-row: 1 / 2;
    justify-items: end;
    align-content: center;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 60px;
    position: relative;
}

.produto {
    display: inline-block;
    grid-column: 1;
    grid-row: 1;
    padding: 0px;
    margin-right: 20px;
    font-size: 1.5rem;
}
.descricao {
    grid-column: 1;
    grid-row: 2;
    padding: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.3;
    text-align: end;
}

.botao {
    text-decoration: none;
    color: var(--bg-1);
    grid-column: 1;
    grid-row: 3;
    background-color: var(--cor-primaria);
    padding: 10px 20px;
    margin-right: 15px;
    font-size: 1rem;
    border-radius: 4px;
}

.botao:hover {
    background-color: var(--cor-primaria-escura);
    transition: 0.3s;
}

.foto {
    display: block;
    max-width: 100%;
    grid-column: 2;
    grid-row: 1 / 5;
    object-fit: cover;
    object-position: top center;
}

.foto img {
    object-fit: cover;
    object-position: top center;
}

.detalhe::before {
    content: "";
    display: inline-block;
    width: 80px;
    background-color: var(--cor-primaria);
    height: 3px;
    top: 15px;
    margin-left: -40px;
    position: absolute;
}

.vantagens {
    font-size: 3.2rem;
    text-align: right;
    margin-right: 20px;
    color: #c6c6c6;
    background-color: var(--bg-1);
    text-align: right;
    grid-row: 2 / 3;
    align-self: center;
    background: url(img/onda.svg);
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
    display: grid;
    grid-column: 2;
    text-align: left;
    padding: 5px 20px ;
    font-size: 1rem;
    margin: 0px;
}

div .vantagem1:nth-child(odd) {
    background-color: var(--bg-1);
    gap: 20px;
}

.vantagem1:hover {
    border-left: 3.5px solid var(--cor-primaria);
    transition: 0.3s;
}

p, .strong {
    margin-left:  30px;
    justify-content: left;
}


.strong {
    display: inline-block;
    font-weight: bold;
    position: relative;
    justify-content: left;
}

.grid2 {
    display: block;
    background-color: var(--bg-2);
    align-content: center;
    padding: 45px;
    gap: 10px;
}

div p {
    margin-left: 30px;
    line-height: 1.5;
}

.icone {
    position: absolute;
    margin-left: 15px;
    margin-top: 5px;
}

.icone::before {
    margin: 30px;
    display: inline-block;
}

.espaconeutro {
    display: grid;
    background-color: var(--bg-1);
    grid-row: 2 / 3;
    place-content: center end;
}

footer {
    background-color: var(--bg-2);
    text-align: center;
    padding: 20px;
}

@media (max-width: 800px) {

    header {
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .logo {
        margin: 5px;
        margin-bottom: 0px;
        flex-grow: 1;
    }

    .menu {
        display: block;
    }

    .menu ul {
        justify-content: center;
        margin: 0px;
    }

    .menu ul li a {
        font-size: 0.8rem;
    }

    .menu-e-burguer {
        margin-left: -30px;
    }

    .grid {
        grid-template-columns: 1fr;
        margin: 30px 60px;
    }

    div .detalhe { 
        display: none;
    }

    .descricao {
        text-align: center;
    }

    .produto{
        justify-self: center;
        text-align: center;
        font-size: 1.4rem;
    }
    
    .botao {
        display: block;
        justify-self: center;
        padding: 8px 18px;
        margin-bottom: 15px;
    }

    .foto img {
        grid-row: 2;
    }

    .vantagens {
        grid-row: 3;
        word-spacing: 999999rem;
        text-align: center;
        padding: 0px;
        margin: 30px;
        font-size: 2.3rem;
    }

    .espaconeutro {
        grid-row: 3;
    }

    .grid2 {
        display: block;
        background-color: var(--bg-2);
        align-content: center;
        padding: 45px;
        gap: 10px;
    }

}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-1: #1c1c1c;
        --bg-2: #121212;
        --logo: #ffffff;
        --texto-1: #f1f1f1;
        --texto-2: #f7f7f7;
    }

    body {
        background-color: var(--bg-1);
    }

    .bg-branco {
        background-color: var(--bg-2);
    }

    h2 {
        color: var(--texto-1);
    }

    p {
        color: var(--texto-2);
    }

    .menu ul li a {
        color: var(--texto-1);
    }

    .espaconeutro {
        background-color: var(--bg-1);
    }

    .grid2 {
        background-color: var(--bg-2);
    }

    .vantagens {
        background: none;
    }

    .vantagem1 {
        background-color: var(--bg-2);
    }

    div .vantagem1:nth-child(odd) {
        background-color: var(--bg-1);
        gap: 20px;
    }

    footer {
        background-color: var(--bg-2);
        color: var(--texto-1);
    }

}

